@import url(fonts.css);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
a {
text-decoration: none;

}
body {
background: url('../img/Bg-main\ \(2\).jpg')no-repeat center/cover fixed;
}

ul{
list-style: none;
}
.container{
width: 1100px;
margin: 0 auto;
padding: 0 15px;
background: rgb(255, 255, 255);
}
.nav{
padding-top: 15px;
padding-bottom: 15px;
background: rgb(255, 255, 255);
}
.im{

width: 60px;
height: 50px;
}
.header__list{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 100px;

}
.header__li{
font-size: 20px;
font-family:'ShantellSans-Bold';
font-weight: 700;
color: rgb(107, 47, 181);

}


.context__intro{
text-align: center;
padding-bottom: 100px;
}
.h1{
padding-top: 30px;
padding-bottom: 35px;
color: rgb(107, 47, 181); 
font-size: 35px;
font-family:'ShantellSans-Bold';
font-weight: 700;

}

.Lap{
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
width: 720px;
height: 509px;
display: flex;
text-align: center;
justify-content: center;

}

.Plansh{
display: none;

}

.Smartphone{
display: none;
}




.screen{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}




.midle__content{
position: relative;
display: flex;
flex-direction: column;
gap: 20px;
width: 600px;

}

.pro{
position: absolute;
left: 650px;
top: -20px;


}
.pros{
width: 350px;
height: 400px;
}
.text1{
font-family:'ShantellSans-Regular';
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
color: white;
background-color: rgb(107, 47, 181);
}

.text2{
font-family:'ShantellSans-Regular';
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;

}

.midle__content{
padding-bottom: 50px;

}



.arheologi__intro-1{
display: flex;
flex-direction: column;
gap: 30px;
margin-left: 100px;
margin-right: 100px;
padding-bottom: 150px;
padding-top: 100px;

}
.arheologi__item{
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;
}
.arrow{
width: 50px;
height: 50px;

}

.info{
display: flex;
font-family:'ShantellSans-Regular';
font-size: 18px;
text-align: center;
border: 3px solid rgb(130, 196, 247);
padding-left:10px;
padding-right: 10px;
padding-top:10px ;
padding-bottom: 10px;
background: rgb(187, 238, 249);
}
.arheo{
font-family:'ShantellSans-Regular';
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid orange;
padding-left:17px;
padding-right: 17px;
padding-top:17px ;
padding-bottom: 17px;
background: rgb(249, 227, 187);
}


.arheo2{
font-family:'ShantellSans-Regular';
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid orange;
padding-left:30px;
padding-right: 30px;
padding-top:30px ;
padding-bottom: 30px;
background: rgb(249, 227, 187);
}
.arheo1{
font-family:'ShantellSans-Regular';
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid orange;
padding-left:17px;
padding-right: 17px;
padding-top:17px ;
padding-bottom: 17px;
background: rgb(249, 227, 187);
}


.midle__content2{
position: relative;
display: flex;
flex-direction: column;
gap: 20px;
width: 600px;
padding-bottom: 150px;
margin-left: 470px;
padding-top: 50px;

}
.text1{
font-family:'ShantellSans-Regular';
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
color: white;
background-color: rgb(107, 47, 181);
}
    
.text2{
font-family:'ShantellSans-Regular';
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
    
}
    
.arxs{
position: absolute;
left: -480px;
top: 100px;
    
    
}
.arx{
width: 500px;
height: 450px;
}
.container__persons{
width: 1100px;
margin: 0 auto;
padding: 0 15px;
background: rgb(255, 255, 255); 
padding-bottom: 150px;


}

.person__intro{
margin-left:50px;
margin-right: 50px;
margin-bottom: 50px;

background: white;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
background: rgb(249, 227, 187);
border:3px solid rgb(126, 112, 53);
}
.Herodotus{
padding: 15px 15px 15px 15px;

width: 200px;
height: 200px;
}
.Herodotus__text{
font-family:'ShantellSans-Regular';
font-size: 15px;
padding: 15px 15px 15px 15px;

}
.person__intro1{
margin-left:50px;
margin-right: 50px;

background: white;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
background: rgb(249, 227, 187);
border:3px solid rgb(107, 47, 181);    
}

.midle__content3{
position: relative;
display: flex;
flex-direction: column;
gap: 20px;
width: 600px;
   
}
.pros-buls{
width: 400px;
height: 300px;    
}   

.neander{
width: 600px;
height: 500px;
}
.text1{
font-family:'ShantellSans-Regular';
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
color: white;
background-color: rgb(107, 47, 181);
}
    
.text2{
font-family:'ShantellSans-Regular';
font-size: 20px;
font-weight: 400;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
    
}
    
.midle__content{
padding-bottom: 50px; 
}

  
.slideshow {
width: 100%;
height: 500px;
position: relative;
overflow: hidden;
background: #111;
}
.slideshow-item {
width: 100%;
height: 100%;
position: absolute;
opacity: 0;
animation: slideanim 40s infinite;
pointer-events: none;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
animation-delay: 30s;
}
.slideshow-item img {
width: 100%;
height: 100%;
object-fit: cover;
animation: zoom 40s infinite;
}
    
@keyframes slideanim {
    12.5%{
        opacity: 1;
        pointer-events: auto;
    }
    25%{
        opacity: 1;
        pointer-events: auto;
    }    
    37.5%{
    opacity: 0;
    }
    }
@keyframes zoom {
    50%{
         transform: scale(1.3);
    }    
    }
@media screen and (max-width: 1100px){
.slideshow-item-text{
    max-width: 75%;
    }
    }
@media screen and (max-width: 456px){
.slideshow-item-text {
    bottom: 0;
    left: 0;
    max-width: 100%;
}
.slideshow-item-text h5 {
    font-size: 18px;
}
.slideshow-item-text p {
     font-size: 13px;
}
}

.agallery{
font-family:'ShantellSans-Regular';
font-size: 24px;
text-align: center;
color: black;
margin-bottom: 30px;
} 
.Photo-gallery{
font-family:'ShantellSans-Regular';
font-size: 24px;
text-align: center;
color: black;
margin-bottom: 30px;
padding-top: 50px;


} 

.arheologi__intro{
display: flex;
flex-direction: column;
gap: 30px;
margin-left: 100px;
margin-right: 100px;
padding-bottom: 150px;
padding-top: 50px;
    
}
.arheologi__item{
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;
}




.arrow{
width: 50px;
height: 50px;
    
}
    
.info{
display: flex;
font-family:'ShantellSans-Regular';
font-size: 18px;
text-align: center;
border: 3px solid rgb(107, 47, 181);
padding-left:10px;
padding-right: 10px;
padding-top:10px ;
padding-bottom: 10px;
background: rgb(249, 227, 187);
}
.arheo{
font-family:'ShantellSans-Regular';
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid rgb(107, 47, 181);
padding-left:17px;
padding-right: 17px;
padding-top:17px ;
padding-bottom: 17px;
background: rgb(249, 227, 187);
}
    
    
.arheo2{
font-family:'ShantellSans-Regular';
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid rgb(107, 47, 181);
padding-left:30px;
padding-right: 30px;
padding-top:30px ;
padding-bottom: 30px;
background: rgb(249, 227, 187);
}
.arheo1{
font-family:'ShantellSans-Regular';
font-size: 18px;
border-radius: 10px solid orange;
border: 3px solid rgb(107, 47, 181);
padding-left:17px;
padding-right: 17px;
padding-top:17px ;
padding-bottom: 17px;
background: rgb(249, 227, 187);
}

.footer{
background: white;
padding-top: 30px;
padding-bottom: 30px;

}
.footer__list{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 100px;
        
}
.footer__li{
font-size: 20px;
font-family:'ShantellSans-Bold';
font-weight: 700;
color: rgb(107, 47, 181);       
}


.wrapper
{
width: 100%;
height: 100%;
display: table;
width: 100%;
height: 100%;	
}


.quiz-frame
{
border: 0;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.quiz__head
{
font-size: 20pt;
margin-bottom: 50px;
font-family:'ShantellSans-Regular';

}


.intro{
font-size: 30px;
font-family:'ShantellSans-Bold';
color: rgb(107, 47, 181);
text-align: center;
}

.head__content 
{
padding: 5px;
margin-top: 50px;
text-align: center;	
}

.quiz__footer 
{
padding-top: 50px;
padding-bottom: 50px;

bottom: 0;
display: block;
width: 100%;
}

.footer__content 
{
text-align: center;
padding: 5px;
}

.button
{
border: 0;
border-radius: 5px;
background: rgb(107, 47, 181);
color: #ffffff;
padding: 10px 25px;
width: 40%;
font-size: 18pt;
display: block;
margin: 5px auto;
cursor: pointer;
font-family:'ShantellSans-Regular';

}

.button_wrong 
{
	background: #EB6465;
}

.button_correct
{
	background: #5EB97D;
}

.button_passive
{
	background: rgb(107, 47, 181);
}
.cat{
width: 350px;
height: 350px;

}
.confident{
font-family:'ShantellSans-Bold';
font-size: 20px;
color: rgb(107, 47, 181);
}

.videos__content{
display: flex;
justify-content: space-between;
gap: 30px;

}


.homework__content{
padding: 15px 15px 15px 15px;
border-color: red;
border: 3px solid rgb(107, 47, 181);
align-items: center;
display: flex;
flex-direction: column;
gap: 10px;
}
.Expl-1{
font-size: 20px;
font-family:'ShantellSans-Regular';
color: red;
text-decoration: underline;     
}
        
.Exes-2{
font-size: 20px;
font-family:'ShantellSans-Regular';
color: red;
}